@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

/* font-family: "Playfair Display", serif; */
/* font-family: "Roboto", sans-serif; */

:root {
  /* Colors */
  --light: #f3eed9;
  --dark: #824936;
  --black: #222c2a;

  /* Fonts sizes */
  --fxs: 1.125rem;
  --fs: 1.3125rem;
  --fl: 2.25rem;
  --fxl: 3.75rem;

  /* Font families */
  --pd: "Playfair Display", serif;
  --rb: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

img {
  width: 100%;
  padding: 1em 0 1em 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.container--white {
  padding: 1em 0;
  background-color: white;
}

.container--dark {
  padding: 1em 0;

  background-color: var(--dark);
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--light);
  justify-content: center;
  align-items: center;
}
.intro h1 {
  text-align: center;
  color: var(--dark);
  background-color: var(--light);

  font-size: var(--fxl);
}

.intro p {
  text-align: center;
  color: var(--dark);
  background-color: var(--light);
  font-family: var(--rb);
  font-size: var(--fs);
}

.dark,
.black {
  background-color: white;
  width: 100%;
}

.dark {
  color: var(--dark);
  text-align: center;
}

.black,
.white {
  font-family: var(--rb);
}

.light--black {
  background-color: var(--black);
}

.container--black {
  padding: 1em 0;

  background-color: var(--black);
}

.light {
  color: var(--light);
}

.light--dark {
  background-color: var(--dark);
}

.white {
  color: white;
}

h2 {
  padding: 1em 0 1em 0;
  font-size: var(--fl);
  font-family: var(--pd);
}

p {
  padding: 0 0 1em 0;
}

@media (min-width: 600px) {
  .row {
    display: flex;
    justify-content: center;
    align-content: ;
  }
  .img {
    justify-self: center;
    align-self: center;
  }
}
